.header {
	.header__top {
		display: flex;
		justify-content: space-between;

		margin-bottom: 30px;

		.logo {
			width: 100%;
			max-width: 210px;
		}

		.header__top-r {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			margin-left: 30px;

			.menu {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;

				padding-bottom: 4px;
				margin-bottom: 16px;

				border-bottom: 1px solid #252525;

				ul {
					display: flex;

					li {
						margin-right: 20px;

						a {
							font-size: 12px;
						}
					}
				}

				.authorization {
					display: flex;
					justify-content: flex-end;
					align-items: center;

					a {
						font-size: 12px;
					}

					p {
						margin: 0 10px;
					}
				}
			}

			.banner {
				margin-right: 30px;
			}

			.basket {
				display: flex;
				margin-right: 30px;

				.basket__menu {
					display: flex;
					flex-direction: column;

					margin-right: 30px;

					a {
						display: flex;
						align-items: center;
						position: relative;

						font-size: 12px;
						text-decoration: underline;
						
						padding-left: 30px;
						margin-bottom: 8px;

						&:first-child {
							font-size: 14px;
						}

						&:last-child {
							margin-bottom: 0;
						}

						svg {
							position: absolute;
							left: 0;
						}
					}
				}

				.basket__preview {
					display: flex;

					.basket__preview-item {
						width: 72px;
						height: 72px;

						display: flex;
						justify-content: center;
						align-items: center;

						margin-right: 12px;
						border: 1px solid #d9d9d9;

						&:last-child {
							margin-right: 0;
						}
					}
				}
			}

			.contact {
				.contact__time {
					display: flex;
					justify-content: space-between;

					font-size: 12px;

					margin-bottom: 14px;

					span {
						font-family: "Roboto-Bold";
					}
				}

				.contact__nomber {
					font-size: 25px;
					font-family: "Roboto-Bold";
				}

				.contact__region {
					display: flex;
					justify-content: space-between;

					margin-top: 14px;
					padding-top: 5px;
					border-top: 1px solid #d9d9d9;

					p {
						font-size: 12px;
						font-family: "Roboto-Bold";
					}

					.contact__region-link {
						display: flex;

						a {
							font-size: 14px;
							border-bottom: 1px dotted #252525;
							margin-left: 3px;
						}

						img {
							width: 9px;
						}
					}
				}
			}
		}
	}

	.header__bottom {
		width: 100%;
		height: 34px;

		display: flex;
		justify-content: space-between;
		position: relative;

		.search {
			display: flex;
			align-items: center;

			.search__btn {
				width: 39px;
				display: flex;
				justify-content: center;
				align-items: center;

				border-radius: 12px 0 0 12px;
				height: 100%;
				border: 0;
				cursor: pointer;
				transition: all 0.2s;

				background: #ffcc00 url(../img/sprite.svg#search) center center/20px no-repeat;
				transition: all .2s;

				&.active-btn {
					background: #ffcc00 url(../img/sprite.svg#close) center center/20px no-repeat;
					transition: all .2s;
				}
			}

			.search__input {
				position: absolute;
				width: 0;
				height: 34px;

				left: 34px;
				border: 0;

				background: #ffcc00;
				outline: none;

				padding-left: 0;

				&.active {
					animation-duration: .5s;
					animation-name: search-up;
					animation-fill-mode: forwards;
				}

				&.re-active {
					animation-duration: .5s;
					animation-name: search-down;
					animation-fill-mode: forwards;
				}

				@keyframes search-up {
					from {
						width: 0;
					}

					to {
						width: calc(100% - 162px);
						padding-left: 30px;
					}
				}

				@keyframes search-down {
					from {
						width: calc(100% - 162px);
						padding-left: 30px;
					}

					to {
						width: 0;
						padding-left: 0;
					}
				}
			}
		}

		.menu {
			width: 100%;
			height: 100%;

			display: flex;
			justify-content: center;
			align-items: center;

			background: #252525;

			li {
				a {
					display: flex;
					align-items: center;
					height: 34px;

					padding: 0 20px;
					font-family: "Roboto-Bold";
					font-size: 14px;
					color: #fff;
					transition: all 0.2s;

					&:hover {
						background: #ffcc00;
						color: #252525;
						transition: all 0.2s;
					}
				}
			}
		}

		.sale {
			background: #252525;
			min-width: 128px;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			border-radius: 0 12px 12px 0;

			font-family: "Roboto-Bold";
			font-size: 14px;
			background: #ffcc00;
			color: #252525;
			text-transform: uppercase;
			transition: all 0.2s;
		}
	}
}
